.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.todo-app {
  width: 40vw;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 30px;
  padding: 5px 10px;
}

.new-todo {
  display: flex;
  justify-content: space-between;
}

.new-todo-input {
  flex: 3;
}

.todo-status {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.todo-active {
  background: red;
}

.todo-completed {
  background: green;
}

.todo-footer {
  display: flex;
}